<div class="container" style="margin-bottom: 20%;">
      <!--Blog nav bar-->
      <div class="navbar-fixed" style="margin-bottom: 5%;">
        <nav class="basic-color container">
          <div class="nav-wrapper">
            <a href="#" class="brand-logo left">barBin</a>
            <!--<a href="#" class="brand-logo right">barBin</a>-->
            <a href="#modal1" style="color: green" class="right">Sign In / Sign Up</a>
          </div>
        </nav>
      </div>

      <!--Login modal-->
      <div id="modal1" class="modal bottom-sheet">
        <div class="modal-content">
          <h4>Modal Header</h4>
          <p>A bunch of text</p>
        </div>
        <div class="modal-footer">
          <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">Agree</a>
        </div>
      </div>
        <router-outlet></router-outlet>
      </div>
<!--<app-blog-component> Loading .. </app-blog-component>-->
<!--End of controller .. -->
