<div class="container" style="margin-bottom: 20%;">
        <!--Blog nav bar-->
        <div class="navbar-fixed">
          <nav class="basic-color">
            <div class="nav-wrapper">
              <a href="#" class="brand-logo left">barBin</a>
              <!--<a href="#" class="brand-logo right">barBin</a>-->
              <a href="#modal1" style="color: green" class="right">Sign In / Sign Up</a>
            </div>
          </nav>
        </div>
        <!--Login modal-->
        <div id="modal1" class="modal bottom-sheet">
          <div class="modal-content">
            <h4>Modal Header</h4>
            <p>A bunch of text</p>
          </div>
          <div class="modal-footer">
            <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">Agree</a>
          </div>
        </div>

        <!--Blog body-->
        <div class="container">
          <!--Author img, name, about section-->
          <div class="row">
            <div class="author col s12">
              <div class="col s4" style="margin-top: 1.5%;">
                <i class="hide-on-small-only large material-icons">insert_chart</i>
                <i class="hide-on-med-and-up medium material-icons" style="margin-top: 25%;">insert_chart</i>
              </div>

              <div class="col s8 m10">
                <p class="auth-name">
                  March App
                  <input type="checkbox" id="test5" />
                  <label for="test5" class="waves-effect waves-teal btn-flat">Follow</label>
                <br>
                <span class="min-about">Full Stack Developer</span>
                <br>
                <span class="min-about">Nov 2, 2016 . 7 min</span>
                </p>
              </div>
            
            </div>
          </div>
          
          <!--Author section end-->
          
          <div class="col s12">
            <div>
              <h5 class="blog-title">
                How to Add Custom Action Buttons to Django Admin ?
              </h5>
              <br>
            </div>
            <div class="content blog-content">
              <p>
                We are big fans of the Django admin interface. It's a huge selling point for Django as it takes the load off developing a "back office" for support and day to day operations.
                <br>
                <br>
                In the last post we presented a pattern we use often in our Django models. We used a bank account application with an Account and account Action models to demonstrate the way we handle common issues such as concurrency and validation. The bank account had two operations we wanted to expose in the admin interface-deposit and withdraw.
                <br>
                <br>
                We are going to add buttons in the Django admin interface to deposit and withdraw from an account, and we are going to do it in less than 100 lines of code!  
              </p>
            </div>
          </div>
            <markdown path="../assets/demo.java"></markdown>
            <markdown path="../assets/demo.cpp"></markdown>
        </div>
</div>
<!--End of controller .. -->
