<div class="" style="margin-bottom: 20%;">
    <!--Blog nav bar-->
    <div class="navbar-fixed" style="margin-bottom: 5%;">
        <nav class="basic-color">
        <div class="nav-wrapper row">
            <div class="col s3 push-s2">
            <a routerLink="/blogs" class="brand-logo left logo-shadow">BB</a>
            </div>
            <!--<a href="#" class="brand-logo right">barBin</a>-->
            <div class="col s7 push-s2">
            <a style="color: green" class="right">Sign In / Sign Up</a>
            </div>  
        </div>
        </nav>
    </div>

    <!--Login modal-->
    <div id="modal1" class="modal bottom-sheet">
        <div class="modal-content" style="color: lightgrey">
        <h4>Modal Header</h4>
        <p>A bunch of text</p>
        </div>
        <div class="modal-footer">
        <a href="/" class=" modal-action modal-close waves-effect waves-green btn-flat">Agree</a>
        </div>
    </div>
    <!--Start Body container-->
    <div class="container">
        <router-outlet></router-outlet>
    </div>
    <!--End body container-->
</div>
<!--End of controller .. -->
